<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<title>SIMS课程详情</title>
		<style>
			.subPageBox {
				padding: 80px 80px 0px !important;
			}
			.studentGradeImport {
				display:inline-block;
				text-decoration: underline;
			}
			.info input[type="radio"] {
				height: 20px !important;
			}
			.info input[type="datetime-local"] {
				width: 170px !important;
			}
		</style>
		<script src="js/dependencies.js"></script>
	</head>
	<body>
		<div id="app">
			<div class="subPageBox">
				<table class="detailTable">
					<th scope="col" style="text-align: left">
						<h1>
						 	<span>课程详情</span>
						 	<i v-if="role==1&&!edited" class="fa fa-edit" v-on:click="courseUpdate()"></i>
							<i v-if="role==1&&edited" class="fa fa-save" v-on:click="courseSave()"></i>
							<i v-if="role==1&&edited" class="fa fa-close" v-on:click="cancelEdit()"></i>
						</h1>
					</th>
					<tbody>
						<tr>
							<td class="info">
								<h2>
									<span>课程编号：</span>
									<span>{{course.courseCode}}</span>
								</h2>
								<h2>
									<span>课程名：</span>
									<span>{{course.courseName}}</span>
								</h2>
								<h2>
									<span>所属专业：</span>
									<span v-if="edited">
										<input type="text" v-model="newCourse.major" />
									</span>
									<span v-else>{{course.major}}</span>
								</h2>
								<h2>
									<span>发布状态：</span>
									<span v-if="edited">
										<input type="radio" v-bind:checked="newCourse.published" v-on:click="changeRadio()"/>
									</span>
									<span v-else>{{course.published?"已发布":"未发布"}}</span>
								</h2>
								<h2>
									<span>考试时间：</span>
									<span v-if="edited">
										<input type="datetime-local" v-model="newCourse.examTime" />
									</span>
									<span v-else>{{formatUTCTime(course.examTime)}}</span>
								</h2>
								<h2>
									<span>考试时长：</span>
									<span v-if="edited">
										<input type="number" v-model="newCourse.examDuration" />小时
									</span>
									<span v-else>{{course.examDuration}}小时</span>
								</h2>
								<h2>
									<span>考试地点：</span>
									<span v-if="edited">
										<input type="text" v-model="newCourse.examAddr" />
									</span>
									<span v-else>{{course.examAddr}}</span>
								</h2>
							</td>
							<td>
								<h2>课程学生</h2>
								<table class="table">
									<thead>
										<tr>
											<td v-for="i in tableNames.length">
												{{tableNames[i-1]}}
											</td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td colspan="5" class="line">
												<hr />
											</td>
										</tr>
										<tr v-for="i in page.content.length">
											<td>
												{{page.content[i-1].studentNo}}
											</td>
											<td>
												{{page.content[i-1].studentName}}
											</td>
											<td>
												{{page.content[i-1].major}}
											</td>
											<td>
												{{page.content[i-1].grade}}
											</td>
											<td>
												{{page.content[i-1].class}}
											</td>
										</tr>
									</tbody>
								</table>
								<br />
								<div class="page">
									<a v-on:click="doSearch(1)">&lt;&lt;</a>
									<a v-if="page.number>1" v-on:click="doSearch(page.number-1)">前页</a>
									<a v-else class="pageDefaultStyle">前页</a>
									<span v-for="i in page.totalPages" v-bind:class="{'pageActive': i==page.number}" 
										v-on:click="doSearch(i)">
										{{i}}
									</span>
									<a v-if="page.number<page.totalPages" v-on:click="doSearch(page.number+1)">后页</a>
									<a v-else class="pageDefaultStyle">后页</a>
									<a v-on:click="doSearch(page.totalPages)">&gt;&gt;</a>
								</div>
							</td>
							<td>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<a v-if="role==1" href="" v-on:click.prevent="importScore(course.courseNo)">
									<h2 class="studentGradeImport">学生成绩导入</h2>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<script>
			var v=new Vue({
				el: '#app',
				data: {
					tableNames: ["学号", "姓名", "专业", "年级", "班级"],
					course: {
						courseNo: "",
						courseCode: "",
						courseName: "",
						major: "",
						published: false,
						examTime: "",
						examDuration: "",
						examAddr: ""
					},
					newCourse: {
						courseNo: "",
						courseCode: "",
						courseName: "",
						major: "",
						published: false,
						examTime: "",
						examDuration: "",
						examAddr: ""
					},
					role: 0,
					courseNo: "",
					edited: false,
					page: {
		        		number: 1,
		        		size: 6,
		        		totalPages: 10,
		        		content: []
		        	},
					urls: [
						'findCourse',
						'updateCourse',
						'courseStudentQuery'
					]
				},
				methods: {
					courseSelect: function() {
						var jsonData={};
		                //发送 get请求
		                get(this.urls[0]+"?courseNo="+this.courseNo, function(res) {
		                	console.log(res);
		                	v.course=res.body;
		                });
					},
					courseUpdate: function() {
						this.edited=true;
						this.newCourse=JSON.parse(JSON.stringify(this.course));
						var examTime=this.newCourse.examTime;
						this.newCourse.examTime=examTime?examTime.substring(0, 19):null;
					},
					courseSave: function() {
						var jsonData=this.newCourse;
						jsonData.published=jsonData.published?1:0
						jsonData.examDuration=parseInt(jsonData.examDuration);
						jsonData.examTime=getDate(jsonData.examTime);
						console.log(jsonData);
		                //发送 post请求
		                post(this.urls[1], JSON.stringify(jsonData), function(res) {
		                	console.log(res);
		                	var course=res.body;
		                	if(course!=null) {
		                		alert("保存成功！");
		                		v.course=course;
		                		v.edited=false;
		                	} else {
		                		alert("保存失败！");
		                	}
		                });
					},
					cancelEdit: function() {
						this.edited=false;
					},
					doSearch: function(number) {
		                var url = this.urls[2] + "?courseNo=" + this.courseNo
						                       + "&number=" + (number - 1)
						                       + "&size=" + this.page.size;
		                get(url, res => {
		                	v.page=res.body;
		                	v.page.number=v.page.number+1;
		                });
					},
					changeRadio: function() {
						this.$set(this.newCourse, "published", !this.newCourse.published);
					},
					importScore: function(courseNo) {
						sessionStorage.setItem("courseNo", courseNo);
						location.href="importScore.html";
					},
				},
				mounted() {
					parent.homePage.innerText="SIMS课程详情";
					this.role=sessionStorage.getItem("role");
					this.courseNo=sessionStorage.getItem("courseNo");
					this.courseSelect();
					this.doSearch(1);
				}
			});
		</script>
	</body>
</html>
