<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<title>SIMS课程列表</title>
		<style>
			.operator {
				margin-left: 4%;
			}
			.checkboxTd {
				width: 4%;
			}
			td .btn {
				width: 50px !important;
    			height: 25px !important;
			}
		</style>
		<script src="js/dependencies.js"></script>
	</head>
	<body>
		<div id="app">
			<div class="subPageBox">
				<input v-if="role==1" type="button" class="btn" value="导入课程" v-on:click="importCourse()" /><br /><br />
				<input v-if="role==0" type="button" class="btn" value="选课" v-on:click="coursesPick()"/>
				<input v-if="role==0" type="button" class="btn" value="退课" v-on:click="coursesWithdraw()"/>
				<div class="operator">
					<select class="select" v-model="condition">
						<option value="筛选">筛选</option>
						<option value="1">1</option>
						<option value="2">2</option>					
						<option value="3">3</option>
					</select>
					<i class="fa fa-filter"></i>
					<input type="text" class="search" v-model="searchText" placeholder="搜索···" />
					<i class="fa fa-search" v-on:click="doSearch(1)"></i>
				</div>
				<table class="table">
					<thead>
						<tr>
							<td class="checkboxTd">
								<input type="checkbox" name="checkbox" onclick="checkAll()"/>
							</td>
							<td v-for="i in tableNames.length" v-if="!(role==0&&tableNames[i-1]=='发布状态')">
								{{tableNames[i-1]}}
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="checkboxTd"></td>
							<td v-bind:colspan="role==1?tableNames.length:tableNames.length-1" class="line">
								<hr />
							</td>
						</tr>
						<tr v-for="i in page.content.length">
							<td class="checkboxTd">
								<input type="checkbox" name="checkbox" />
							</td>
							<td>
								<a href="" v-on:click.prevent="seeCourse(page.content[i-1].courseNo)">
									{{page.content[i-1].courseNo}}
								</a>
							</td>
							<td>
								{{page.content[i-1].courseCode}}
							</td>
							<td>
								{{page.content[i-1].courseName}}
							</td>
							<td>
								{{page.content[i-1].major}}
							</td>
							<td v-if="role==1">
								{{page.content[i-1].published?"已发布":"未发布"}}
							</td>
							<td>
								{{page.content[i-1].examTime}}
							</td>
							<td>
								{{page.content[i-1].examDuration}}
							</td>
							<td>
								{{page.content[i-1].examAddr}}
							</td>
							<td style="width: 125px;">
								<div>
									<input v-if="role==1&&!page.content[i-1].published" type="button" class="btn" value="发布" v-on:click="publishCourse(i-1)"/>
									<input v-if="role==1&&page.content[i-1].published" type="button" class="btn" value="撤销" v-on:click="publishCourse(i-1)"/>
									<input v-if="role==1" type="button" class="btn" value="删除" v-on:click="courseDelete(i-1)"/>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<br />
				<div class="page">
					<a v-on:click="doSearch(1)">&lt;&lt;</a>
					<a v-if="page.number>1" v-on:click="doSearch(page.number-1)">前页</a>
					<a v-else class="pageDefaultStyle">前页</a>
					<span v-for="i in page.totalPages" v-bind:class="{'pageActive': i==page.number}" 
						v-on:click="doSearch(i)">
						{{i}}
					</span>
					<a v-if="page.number<page.totalPages" v-on:click="doSearch(page.number+1)">后页</a>
					<a v-else class="pageDefaultStyle">后页</a>
					<a v-on:click="doSearch(page.totalPages)">&gt;&gt;</a>
				</div>
			</div>
		</div>
		<script>
			var v=new Vue({
				el: '#app',
				data: {
					tableNames: ["课程号", "课程代码", "课程名", "所属专业", "发布状态", "考试日期", "考试时长（小时）", "考试地点", "操作"],
					condition: "筛选",
					searchText: "",
					role: 0,
					page: {
		        		number: 1,
		        		size: 6,
		        		totalPages: 10,
		        		content: []
		        	},
					urls: [
						'queryCourses',
						'deleteCourseByCourseNo',
						'changeCourseStatues',
						'insertStuCourseRecords',
						'deleteStuCourseRecords'
					]
				},
				methods: {
					doSearch: function(number) {
						var jsonData={
							searchText: this.searchText,
							number: this.page.number,
		        			size: this.page.size
						};
		                //发送 get请求
		                get(this.urls[0], function(res) {
		                	v.page.content=res.body;
		                });
					},
					courseDelete: function(n) {
						var courseNo=this.page.content[n].courseNo;
						if(confirm("确认删除课程编号为"+courseNo+"的课程吗？")) {
							var jsonData={
								courseNo: courseNo
							};
							console.log(jsonData);
							//发送 post请求
			                post(this.urls[1], jsonData, function(res) {
			                	console.log(res);
			                	alert(res.body.message);
			                });
						}
					},
					publishCourse: function(n) {
						var jsonData={
							courseNo: this.page.content[n].courseNo,
							published: this.page.content[n].published?0:1
						};
						console.log(jsonData);
						//发送 post请求
		                post(this.urls[2], jsonData, function(res) {
		                	console.log(res);
		                	alert(res.body.message);
		                	v.doSearch(1);
		                });
					},
					importCourse: function() {
						location.href="importCourse.html";
					},
					seeCourse: function(courseNo) {
						sessionStorage.setItem("courseNo", courseNo);
						location.href="CourseDetails.html";
					},
					coursesPick: function() {
						var checkedIndexes=getCheckedIndexes();
						var courseList=[];
						for(var i=0; i<checkedIndexes.length; i++) {

						}
						if(checkedIndexes.length==0) {
							alert("未选择学生！");
						} else {
							post(this.urls[3], res => {
							});
						}
					},
					coursesWithdraw: function() {
						var checkedIndexes=getCheckedIndexes();
						var courseNoList=[];
						for(var i=0; i<checkedIndexes.length; i++) {
							courseNoList.push(this.page.content[checkedIndexes[i]].courseNo);
						}
						if(checkedIndexes.length==0) {
							alert("未选择学生！");
						} else {
							post(this.urls[4], JSON.stringify(courseNoList), res => {

							});
						}
					}
				},
				mounted() {
					parent.homePage.innerText="SIMS课程列表";
					this.role=sessionStorage.getItem("role");
					this.doSearch(1);
				}
			});
		</script>
	</body>
</html>
