<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<title>SIMS学生详情</title>
		<style>
			.subPageBox {
				padding: 80px 80px 0px !important;
			}
		</style>
		<script src="js/dependencies.js"></script>
	</head>
	<body>
		<div id="app">
			<div class="subPageBox">
				<table class="detailTable">
					<th scope="col" style="text-align: left"><h1>课程详情</h1></th>
					<tbody>
						<tr>
							<td class="info">
								<h2>课程号：{{student.studentName}}</h2>
								<h2>课程名：{{student.studentNo}}</h2>
								<h2>所属专业：{{student.major}}</h2>
								<h2>发布状态：{{student.grade}}</h2>
								<h2>课程安排：{{student.class}}</h2>
                                <h2>上课时间：{{student.time}}</h2>
							</td>
							<td>
								<h2>课程学生</h2>
								<table class="table">
									<thead>
										<tr>
											<td v-for="i in tableNames.length">
												{{tableNames[i-1]}}
											</td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td colspan="5" class="line">
												<hr />
											</td>
										</tr>
										<tr v-for="i in page.content.length">
											<td>
												{{page.content[i-1].courseNo}}
											</td>
											<td>
												{{page.content[i-1].courseName}}
											</td>
											<td>
												{{page.content[i-1].courseArrangement}}
											</td>
											<td>
												{{page.content[i-1].classTime}}
											</td>
											<td>
												{{page.content[i-1].classPlace}}
											</td>
										</tr>
									</tbody>
								</table>
								<br />
								<div class="page">
									<a v-on:click="doSearch(1)">&lt;&lt;</a>
									<a v-if="page.number>1" v-on:click="doSearch(page.number-1)">前页</a>
									<a v-else class="pageDefaultStyle">前页</a>
									<span v-for="i in page.totalPages" v-bind:class="{'pageActive': i==page.number}" 
										v-on:click="doSearch(i)">
										{{i}}
									</span>
									<a v-if="page.number<page.totalPages" v-on:click="doSearch(page.number+1)">后页</a>
									<a v-else class="pageDefaultStyle">后页</a>
									<a v-on:click="doSearch(page.totalPages)">&gt;&gt;</a>
								</div>
							</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<script>
			var v=new Vue({
				el: '#app',
				data: {
					tableNames: ["学号", "姓名", "专业", "年级", "班级"],
					student: {
						studentNo: "敏捷软件开发",
						studentName: "ASD",
						sex: "男",
						major: "软件工程",
						grade: "已发布",
						class: "1-18周",
                        time:"周三2-4节"
					},
					page: {
		        		number: 1,
		        		size: 6,
		        		totalPages: 10,
		        		content: [
		        			{
								courseNo: "MF12345678",
								courseName: "张三",
								courseArrangement: "软件工程",
								classTime: "2021级",
								classPlace: "1班"
							},
							{
								courseNo: "",
								courseName: "",
								courseArrangement: "",
								classTime: "",
								classPlace: ""
							},
							{
								courseNo: "",
								courseName: "",
								courseArrangement: "",
								classTime: "",
								classPlace: ""
							},
                            {
								courseNo: "",
								courseName: "",
								courseArrangement: "",
								classTime: "",
								classPlace: ""
							},
                            {
								courseNo: "",
								courseName: "",
								courseArrangement: "",
								classTime: "",
								classPlace: ""
							},
                            {
								courseNo: "",
								courseName: "",
								courseArrangement: "",
								classTime: "",
								classPlace: ""
							},
                            {
								courseNo: "",
								courseName: "",
								courseArrangement: "",
								classTime: "",
								classPlace: ""
							}
                            
		        		]
		        	},
					urls: [
						''
					]
				},
				methods: {
					studentSelect: function() {
						var jsonData={};
		                //发送 post请求
		                this.$http.post(this.urls[0], jsonData, {
		                	emulateJSON: true
		                }).then(function(res){
		                	this.student=res.body;
		                },function(res){
		                    console.log(res);
		                });
					},
					doSearch: function(number) {
						var jsonData={
							number: number,
		        			size: this.page.size
						};
		                //发送 post请求
		                this.$http.post(this.urls[1], jsonData, {
		                	emulateJSON: true
		                }).then(function(res){
		                	this.page=res.body;
		                },function(res){
		                    console.log(res);
		                });
					},
				},
				mounted() {
					parent.homePage.innerText="SIMS学生详情";
					this.studentSelect();
					this.doSearch(1);
				}
			});
		</script>
	</body>
</html>
