<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<title>SIMS注册页</title>
		<style>
			.box {
				display: inline-block;
				width: 32%;
				height: 65%;
				text-align: center;
			}
			td {
				padding: 5px;
			}
			input {
				width: 300px;
				height: 40px;
				padding: 0px 10px;
				border: 1px darkgrey solid;
			}
			input[type="button"] {
				width: 322px;
				color: white;
				background-color: deepskyblue;
				border: 0px;
			}
			input[type="button"]:hover {
				background-color: dodgerblue;
			}
			.tip {
				position: absolute;
				display: inline-block;
				z-index: 100;
				width: 200px;
				padding-left: 10px;
				text-align: left;
				color: red;
				font-size: 10px;
			}
		</style>
		<!-- common.css -->
		<link rel="stylesheet" href="css/common.css" />
		<!-- Vue -->
		<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"
				integrity="sha384-M5+vdn0ZJoRfNHbhVIuvYmIj44NZOP255FJMIWB9bzTbHEzWjE7fBh+rP+fwJ0OA"
				crossorigin="anonymous"></script>
		<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"
				integrity="sha384-hLzbDCl8NQhPSM4RaGXpfed+ihkiZc6a3yUwVFeTEtwnzeAFh80h/h5ouVI2M2HG"
				crossorigin="anonymous"></script>
	</head>
	<body>
		<div id="app">
			<table class="center box">	
				<tbody>
					<tr>
						<td></td>
						<td>
							<h2>教职工注册</h2>
						</td>
					</tr>
					<tr>
						<td class="right">教工号</td>
						<td>
							<input type="text" v-model="teacherNo" v-on:focus="tipIndex=0" />
							<span class="tip">{{tipIndex==0?tips[0]:null}}</span>
						</td>
					</tr>
					<tr>
						<td class="right">姓名</td>
						<td>
							<input type="text" v-model="teacherName" v-on:focus="tipIndex=1" />
							<span class="tip">{{tipIndex==1?tips[1]:null}}</span>
						</td>
					</tr>
					<tr>
						<td class="right">手机</td>
						<td>
							<input type="text" v-model="phone" v-on:focus="tipIndex=2" />
							<span class="tip">{{tipIndex==2?tips[2]:null}}</span>
						</td>
					</tr>
					<tr>
						<td class="right">邮箱</td>
						<td>
							<input type="text" v-model="email" v-on:focus="tipIndex=3" />
							<span class="tip">{{tipIndex==3?tips[3]:null}}</span>
						</td>
					</tr>
					<tr>
						<td class="right">密码</td>
						<td>
							<input type="password" v-model="password" v-on:focus="tipIndex=4" />
							<span class="tip">{{tipIndex==4?tips[4]:null}}</span>
						</td>
					</tr>
					<tr>
						<td class="right">确认密码</td>
						<td>
							<input type="password" v-model="confirmPassword" />
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<input type="button" value="注册" v-on:click="doRegister()" />
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<script>
			var v=new Vue({
				el: '#app',
				data: {
					teacherNo: '',
					teacherName: '',
					phone: '',
					email: '',
					password: '',
					confirmPassword: '',
					tips: [
						"“T00”开头，8~16位，只能允许大写字母，小写字母和数字",
						"大写字母，小写字母，中文和小数点（.），最长32位",
						"国内手机号格式，首位为1，不能以10、11或12开头，11位",
						"6~32位前缀，允许大写字母，小写字母，数字，减号（-）和下划线（_），后缀为“@sims.edu.cn”",
						"必须包含大写字母，小写字母，数字和特殊字符（.~!@#$%^&*()\-_+=），8~16位"
					],
					tipIndex: -1,
					urls: [
						'adminRegister'
					]
				},
				methods: {
					doCheck: function() {
						if(this.teacherNo=='') {
							alert("教工号不能为空！");
							return false;
						}
						if(this.teacherName=='') {
							alert("姓名不能为空！");
							return false;
						}
						if(this.phone=='') {
							alert("手机不能为空！");
							return false;
						}
						if(this.email=='') {
							alert("邮箱不能为空！");
							return false;
						}
						if(this.password=='') {
							alert("密码不能为空！");
							return false;
						}
						if(this.confirmPassword=='') {
							alert("确认密码不能为空！");
							return false;
						}
						if(this.password!=this.confirmPassword) {
							alert("密码和确认密码不一致！");
							return false;
						}
						
						return true;
					},
					doRegister: function() {
						this.tipIndex=-1;
						if(this.doCheck()) {
							var jsonData={
								teacherNo: this.teacherNo,
								teacherName: this.teacherName,
								phone: this.phone,
								email: this.email,
								password: this.password
							};
							console.log(jsonData);
			                //发送 post请求
			                this.$http.post(this.urls[0], JSON.stringify(jsonData), {
			                	emulateJSON: true
			                }).then(function(res){
			                	var errCode=res.body.errCode;
			                	switch(errCode) {
			                	case 0:
			                		alert("注册成功！");
			                		location.href="login.html"
			                		break;
			                	case 1201:
			                		alert("教工号格式错误！");
			                		break;
			                	case 1202:
			                		alert("真实姓名格式错误！");
			                		break;
			                	case 1203:
			                		alert("密码复杂度不够！");
			                		break;
			                	case 1204:
			                		alert("手机号格式错误！");
			                		break;
			                	case 1205:
			                		alert("邮箱格式错误！");
			                		break;
			                	case 1206:
			                		alert("用户已存在！");
			                		break;
			                	case 1207:
			                		alert("检测到该账户非教师账号！");
			                		break;
								default:
									alert("注册失败！");
									break;
			                	}
			                },function(res){
			                    console.log(res);
			                });
						}
					}
				}
			});
		</script>
	</body>
</html>
