<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<title>SIMS学生详情</title>
		<style>
			.subPageBox {
				padding: 80px 80px 0px !important;
			}
			.detailTable .info {
				width: 250px !important;
			}
			td .table td {
				text-align: center;
				vertical-align: middle !important;
			}
			td .table td .lesson {
				text-align: left;
				font-size: 12px;
			}
		</style>
		<script src="js/dependencies.js"></script>
	</head>
	<body>
		<div id="app">
			<div class="subPageBox">
				<table class="detailTable">
					<tbody>
						<tr>
							<th scope="col" style="text-align: left">
								<h1>学生详情
									<i v-if="edited" class="fa fa-save" v-on:click="studentSave()"></i>
									<i v-if="edited" class="fa fa-close" v-on:click="cancelEdit()"></i>
									<i v-else class="fa fa-edit" v-on:click="studentUpdate()"></i>
								</h1>
							</th>
						</tr>
						<tr>
							<td class="info">
								<h2>
									<span>姓名：</span>
									<span>{{student.studentName}}</span>
								</h2>
								<h2>
									<span>学号：</span>
									<span>{{student.studentNo}}</span>
								</h2>
								<h2>
									<span>专业：</span>
									<span v-if="edited&&role==1">
										<input type="text" v-model="newStudent.major" />
									</span>
									<span v-else>{{student.major}}</span>
								</h2>
								<h2>
									<span>年级：</span>
									<span v-if="edited&&role==1">
										<input type="number" v-model="newStudent.grade" />级
									</span>
									<span v-else>{{student.grade}}级</span>
								</h2>
								<h2>
									<span>班级：</span>
									<span v-if="edited">
										<input type="number" v-model="newStudent.class" />班
									</span>
									<span v-else>{{student.class}}班</span>
								</h2>
							</td>
							<td>
								<h1>课程表  <input v-if="role==0" type="button" class="btn" value="选课" v-on:click="gotoCoursesPick()"/></h1>
								<table class="table">
									<thead>
										<tr>
											<td v-for="i in tableNames.length">
												{{tableNames[i-1]}}
											</td>
										</tr>
									</thead>
									<tbody>
										<tr v-for="j in schoolTimetable[0].length">
											<td style="width: 5.5%;">{{j}}</td>
											<td style="width: 13.5%;" v-for="i in schoolTimetable.length">
												<div class="lesson" v-for="k in schoolTimetable[i-1][j-1].length">
													{{schoolTimetable[i-1][j-1][k-1].courseName}}&nbsp;
													{{schoolTimetable[i-1][j-1][k-1].address}}&nbsp;
													{{schoolTimetable[i-1][j-1][k-1].startWeek}}~{{schoolTimetable[i-1][j-1][k-1].endWeek}}周
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td>
								<h1>
									<a v-if="role==0" href="" v-on:click.prevent="toScoreInquiry()">成绩查询</a>
								</h1>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<script>
			var v=new Vue({
				el: '#app',
				data: {
					tableNames: ["", "一", "二", "三", "四", "五", "六", "日"],
					student: {
						studentNo: "",
						studentName: "",
						sex: "",
						major: "",
						grade: "",
						class: ""
					},
					newStudent: {
						studentNo: "",
						studentName: "",
						sex: "",
						major: "",
						grade: "",
						class: ""
					},
					studentNo: '',
					role: 0,
					edited: false,
					schoolTimetable: [[]],
					urls: [
						'studentQuery',
						'studentUpdate',
						'queryScheduler',
					]
				},
				methods: {
					studentSelect: function() {
						var jsonData={};
		                //发送 get请求
		                get(this.urls[0]+"?studentNo="+this.studentNo, function(res) {
		                	console.log(res);
		                	var studentQueryResp=res.body;
		                	switch(studentQueryResp.errCode) {
		                	case 0:
		                		v.student=studentQueryResp.student;
		                		break;
		                	case 1303:
		                		alert("用户没有操作权限（只能由老师查学生和自己查自己）");
		                		parent.location.href="login.html";
		                		break;
		                	case 1304:
		                		alert("学生记录不存在！");
		                		break;
		                	default:
		                		alert("单个学生查询失败！");
		                	}
		                });
					},
					studentUpdate: function() {
						this.edited=true;
						this.newStudent=JSON.parse(JSON.stringify(this.student));
					},
					studentSave: function() {
						var jsonData={
							student: this.newStudent
						};
						console.log(jsonData);
		                //发送 post请求
		                post(this.urls[1], JSON.stringify(jsonData), function(res) {
		                	console.log(res);
		                	var errCode=res.body.errCode;
		                	switch(errCode) {
		                	case 0:
		                		alert("保存成功！");
		                		v.edited=false;
		                		v.studentSelect();
		                		break;
		                	case 1304:
		                		alert("学生记录不存在！");
		                		break;
		                	case 1305:
		                		alert("没有权限（只能由管理员执行此操作）！");
		                		break;
		                	case 1306:
		                		alert("更新的信息有误！");
								break;
		                	default:
		                		alert("保存失败！");
		                	}
		                });
					},
					cancelEdit: function() {
						this.edited=false;
					},
					gotoCoursesPick: function() {
						parent.location.href="CoursesPage.html";
					},
					toScoreInquiry: function() {
						location.href="scoreInquiry.html";
					},
					queryScheduler: function() {
						var url=this.urls[2]+"?studentNo="+this.studentNo;
		                //发送 get请求
		                get(url, function(res) {
		                	console.log(res);
		                	var errCode=res.body.errCode;
		                	switch(errCode) {
		                	case 0:
		                		v.schoolTimetable=getSchoolTimetable(res.body.lessons);
		                		break;
		                	case 1401:
								alert("没有选课记录！");
		                		break;
		                	default:
		                		alert("课程表查询失败！");
		                	}
		                });
					}
				},
				mounted() {
					parent.homePage.innerText="SIMS学生详情";
					var sno1 = sessionStorage.getItem("userName");
					var sno2 = sessionStorage.getItem("studentNo");  //从学生管理页面进来后，用选择的学生号覆盖登录账号
					this.studentNo = sno2 ? sno2 : sno1;
					this.role=sessionStorage.getItem("role");
					this.studentSelect();
					this.schoolTimetable=getSchoolTimetable([]);
					this.queryScheduler();
				}
			});
		</script>
	</body>
</html>
