<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<title>SIMS学生列表</title>
		<style>
			.operator {
				margin-left: 3.4%;
			}
			td {
				width: 13.8%;
			}
			.checkboxTd {
				width: 3.4%;
			}
		</style>
		<script src="js/dependencies.js"></script>
	</head>
	<body>
		<div id="app">
			<div class="subPageBox">
				<input type="button" class="btn" value="导入学生" v-on:click="importStudent()" />
				<input type="button" class="btn" value="批量删除" v-on:click="batchDelete()" />
				<br /><br />
				<div class="operator">
					<select class="select" v-model="condition.sex" v-on:change="doSearch(1)">
						<option value="全选">性别</option>
						<option v-for="i in conditions.sexes.length" v-bind:value="conditions.sexes[i-1]">
							{{conditions.sexes[i-1]}}
						</option>
					</select>
					<i class="fa fa-filter"></i>
					<select class="select" v-model="condition.major" v-on:change="doSearch(1)">
						<option value="全选">专业</option>
						<option v-for="i in conditions.majors.length" v-bind:value="conditions.majors[i-1]">
							{{conditions.majors[i-1]}}
						</option>
					</select>
					<i class="fa fa-filter"></i>
					<select class="select" v-model="condition.grade" v-on:change="doSearch(1)">
						<option value="全选">年级</option>
						<option v-for="i in conditions.grades.length" v-bind:value="conditions.grades[i-1]">
							{{conditions.grades[i-1]}}级
						</option>
					</select>
					<i class="fa fa-filter"></i>
					<select class="select" v-model="condition.class" v-on:change="doSearch(1)">
						<option value="全选">班级</option>
						<option v-for="i in conditions.classes.length" v-bind:value="conditions.classes[i-1]">
							{{conditions.classes[i-1]}}班
						</option>
					</select>
					<i class="fa fa-filter"></i>
					<input type="text" class="search" v-model="searchText" placeholder="学号、姓名" />
					<i class="fa fa-search" v-on:click="doSearch(1)"></i>
				</div>
				<table class="table">
					<thead>
						<tr>
							<td class="checkboxTd">
								<input type="checkbox" name="checkbox" onclick="checkAll()"/>
							</td>
							<td v-for="i in tableNames.length">
								{{tableNames[i-1]}}
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="checkboxTd"></td>
							<td colspan="7" class="line">
								<hr />
							</td>
						</tr>
						<tr v-for="i in page.content.length">
							<td class="checkboxTd">
								<input type="checkbox" name="checkbox" />
							</td>
							<td>
								<a href="" v-on:click.prevent="seeStudent(page.content[i-1].studentNo)">
									{{page.content[i-1].studentNo}}
								</a>
							</td>
							<td>
								{{page.content[i-1].studentName}}
							</td>
							<td>
								{{page.content[i-1].sex}}
							</td>
							<td>
								{{page.content[i-1].major}}
							</td>
							<td>
								{{page.content[i-1].grade}}级
							</td>
							<td>
								{{page.content[i-1].class}}班
							</td>
							<td>
								<i class="fa fa-trash-o" v-on:click="studentDelete(i-1)"></i>
							</td>
						</tr>
					</tbody>
				</table>
				<br />
				<div class="page">
					<a v-on:click="doSearch(1)">&lt;&lt;</a>
					<a v-if="page.number>1" v-on:click="doSearch(page.number-1)">前页</a>
					<a v-else class="pageDefaultStyle">前页</a>
					<span v-for="i in page.totalPages" v-bind:class="{'pageActive': i==page.number}" 
						v-on:click="doSearch(i)">
						{{i}}
					</span>
					<a v-if="page.number<page.totalPages" v-on:click="doSearch(page.number+1)">后页</a>
					<a v-else class="pageDefaultStyle">后页</a>
					<a v-on:click="doSearch(page.totalPages)">&gt;&gt;</a>
				</div>
			</div>
		</div>
		<script>
			var v=new Vue({
				el: '#app',
				data: {
					tableNames: ["学号", "姓名", "性别", "专业", "年级", "班级", "操作"],
					condition: {
						sex: "全选",
						major: "全选",
						grade: "全选",
						class: "全选"
					},
					searchText: "",
					conditions: {
						sexes: ["男", "女"],
						majors: [],
						grades: [],
						classes: []
					},
					page: {
		        		number: 1,
		        		size: 6,
		        		totalPages: 10,
		        		content: []
		        	},
					urls: [
						'studentSelectByConditionBySearchTextByPage',
						'studentConditionSelect',
						'studentBatchRemove'
					]
				},
				methods: {
					doSearch: function(number) {
						var jsonData={
							sex: this.condition.sex!="全选"?this.condition.sex:null,
							major: this.condition.major!="全选"?this.condition.major:null,
							grade: this.condition.grade!="全选"?this.condition.grade:null,
							class: this.condition.class!="全选"?this.condition.class:null,
							searchText: this.searchText,
							number: number-1,
		        			size: this.page.size
						};
						console.log(jsonData);
		                //发送 post请求
		                post(this.urls[0], JSON.stringify(jsonData), function(res) {
		                	console.log(res);
		                	v.page=res.body;
		                	v.page.number=v.page.number+1;
		                });
					},
					conditionSelect: function() {
						var jsonData={};
		                //发送 post请求
		                post(this.urls[1], jsonData, function(res) {
		                	console.log(res);
		                	v.conditions=res.body;
		                });
					},
					importStudent: function() {
						location.href="importStudent.html";
					},
					batchDelete: function() {
						var checkedIndexes=getCheckedIndexes();
						var studentNoList=[];
						for(var i=0; i<checkedIndexes.length; i++) {
							studentNoList.push(this.page.content[checkedIndexes[i]].studentNo);
						}
						
						if(checkedIndexes.length==0) {
							alert("未选择学生！");
						} else if(confirm("确认删除学号为"+studentNoList+"的学生吗？")) {
							this.doDelete(studentNoList);
						}
					},
					studentDelete: function(n) {
						var studentNo=this.page.content[n].studentNo;
						if(confirm("确认删除学号为"+studentNo+"的学生吗？")) {
							var studentNoList=[studentNo];
							this.doDelete(studentNoList);
						}
					},
					doDelete: function(studentNoList) {
						var jsonData={
							studentNoList: studentNoList
						};
						console.log(jsonData);
						//发送 post请求
		                post(this.urls[2], JSON.stringify(jsonData), function(res) {
		                	console.log(res);
		                	var errCode=res.body.errCode;
		                	var rows=res.body.rows;
		                	switch(errCode) {
		                	case 0:
		                		alert("实际删除的行数为"+rows+"行");
		                		v.doSearch(1);
		                		break;
		                	case 1307:
		                		alert("没有权限（只能由管理员执行此操作）！");
		                		parent.location.href="login.html";
		                		break;
		                	default:
		                		alert("删除失败！");		
		                	}
		                });
					},
					seeStudent: function(studentNo) {
						sessionStorage.setItem("studentNo", studentNo);
						location.href="studentDetail.html";
					}
				},
				mounted() {
					parent.homePage.innerText="SIMS学生列表";
					this.conditionSelect();
					this.doSearch(1);
				}
			});
		</script>
	</body>
</html>
