<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<title>SIMS学生详情</title>
		<style>
			.subPageBox {
				padding: 80px 80px 0px !important;
			}
		</style>
		<script src="js/dependencies.js"></script>
	</head>
	<body>
		<div id="app">
			<div class="subPageBox">
				<table class="detailTable">
					<tbody>
						<tr>
							<th scope="col" style="text-align: left">
								<h1>学生详情
									<i v-if="edited" class="fa fa-save" v-on:click="studentSave()"></i>
									<i v-if="edited" class="fa fa-close" v-on:click="cancelEdit()"></i>
									<i v-else class="fa fa-edit" v-on:click="studentUpdate()"></i>
								</h1>
							</th>
						</tr>
						<tr>
							<td class="info">
								<h2>
									<span>姓名：</span>
									<span>{{student.studentName}}</span>
								</h2>
								<h2>
									<span>学号：</span>
									<span>{{student.studentNo}}</span>
								</h2>
								<h2>
									<span>专业：</span>
									<span v-if="edited&&role==1">
										<input type="text" v-model="newStudent.major" />
									</span>
									<span v-else>{{student.major}}</span>
								</h2>
								<h2>
									<span>年级：</span>
									<span v-if="edited&&role==1">
										<input type="number" v-model="newStudent.grade" />级
									</span>
									<span v-else>{{student.grade}}级</span>
								</h2>
								<h2>
									<span>班级：</span>
									<span v-if="edited">
										<input type="number" v-model="newStudent.class" />班
									</span>
									<span v-else>{{student.class}}班</span>
								</h2>
							</td>
							<td>
								<h1>课程表</h1>
								<table class="table">
									<thead>
										<tr>
											<td v-for="i in tableNames.length">
												{{tableNames[i-1]}}
											</td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td colspan="5" class="line">
												<hr />
											</td>
										</tr>
										<tr v-for="i in page.content.length">
											<td>
												{{page.content[i-1].courseNo}}
											</td>
											<td>
												{{page.content[i-1].courseName}}
											</td>
											<td>
												{{page.content[i-1].courseArrangement}}
											</td>
											<td>
												{{page.content[i-1].classTime}}
											</td>
											<td>
												{{page.content[i-1].classPlace}}
											</td>
										</tr>
									</tbody>
								</table>
								<br />
								<div class="page">
									<a v-on:click="doSearch(1)">&lt;&lt;</a>
									<a v-if="page.number>1" v-on:click="doSearch(page.number-1)">前页</a>
									<a v-else class="pageDefaultStyle">前页</a>
									<span v-for="i in page.totalPages" v-bind:class="{'pageActive': i==page.number}" 
										v-on:click="doSearch(i)">
										{{i}}
									</span>
									<a v-if="page.number<page.totalPages" v-on:click="doSearch(page.number+1)">后页</a>
									<a v-else class="pageDefaultStyle">后页</a>
									<a v-on:click="doSearch(page.totalPages)">&gt;&gt;</a>
								</div>
							</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<script>
			var v=new Vue({
				el: '#app',
				data: {
					tableNames: ["课程号", "课程名", "课程安排", "上课时间", "上课地点"],
					student: {
						studentNo: "",
						studentName: "",
						sex: "",
						major: "",
						grade: "",
						class: ""
					},
					newStudent: {
						studentNo: "",
						studentName: "",
						sex: "",
						major: "",
						grade: "",
						class: ""
					},
					studentNo: '',
					role: 0,
					edited: false,
					page: {
		        		number: 1,
		        		size: 6,
		        		totalPages: 10,
		        		content: []
		        	},
					urls: [
						'studentQuery',
						'studentUpdate'
					]
				},
				methods: {
					studentSelect: function() {
						var jsonData={};
		                //发送 get请求
		                get(this.urls[0]+"?studentNo="+this.studentNo, function(res) {
		                	console.log(res);
		                	var studentQueryResp=res.body;
		                	switch(studentQueryResp.errCode) {
		                	case 0:
		                		v.student=studentQueryResp.student;
		                		break;
		                	case 1303:
		                		alert("用户没有操作权限（只能由老师查学生和自己查自己）");
		                		parent.location.href="login.html";
		                		break;
		                	case 1304:
		                		alert("学生记录不存在！");
		                		break;
		                	default:
		                		alert("单个学生查询失败！");
		                	}
		                });
					},
					studentUpdate: function() {
						this.edited=true;
						this.newStudent=JSON.parse(JSON.stringify(this.student));
					},
					studentSave: function() {
						var jsonData={
							student: this.newStudent
						};
						console.log(jsonData);
		                //发送 post请求
		                post(this.urls[1], JSON.stringify(jsonData), function(res) {
		                	console.log(res);
		                	var errCode=res.body.errCode;
		                	switch(errCode) {
		                	case 0:
		                		alert("保存成功！");
		                		v.edited=false;
		                		v.studentSelect();
		                		break;
		                	case 1304:
		                		alert("学生记录不存在！");
		                		break;
		                	case 1305:
		                		alert("没有权限（只能由管理员执行此操作）！");
		                		break;
		                	case 1306:
		                		alert("更新的信息有误！");
								break;
		                	default:
		                		alert("保存失败！");
		                	}
		                });
					},
					cancelEdit: function() {
						this.edited=false;
					},
					doSearch: function(number) {
						var jsonData={
							number: number,
		        			size: this.page.size
						};
		                //发送 post请求
		                this.$http.post(this.urls[1], jsonData, {
		                	emulateJSON: true
		                }).then(function(res){
		                	this.page=res.body;
		                },function(res){
		                    console.log(res);
		                });
					}
				},
				mounted() {
					parent.homePage.innerText="SIMS学生详情";
					this.studentNo=sessionStorage.getItem("studentNo");
					this.role=sessionStorage.getItem("role");
					this.studentSelect();
					//this.doSearch(1);
				}
			});
		</script>
	</body>
</html>
