* {
	margin: 0px;
	padding: 0px;
}
html, body {
	height: 100%;
	width: 100%;
}
#app {
	height: 100%;
	width: 100%;
}
a {
	cursor: pointer;
	color: deepskyblue;
}
.center {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.right {
	text-align: right;
}
/* 子页面盒子样式 */
.subPageBox {
	padding: 80px 200px 0px;
}
.subPageBox .btn {
	margin-right: 10px;
	width: 150px;
	height: 40px;
	color: white;
	background-color: deepskyblue;
	border: 0px;
}
.subPageBox .btn:hover {
	background-color: dodgerblue;
	cursor: pointer;
}
/* 下拉列表 */
.operator .select {
	width: 150px;
	height: 40px;
	padding: 6px;
	border: 1px darkgrey solid;
}
/* 搜索框 */
.search {
	width: 150px;
	height: 39px;
	padding: 0px 35px 0px 10px;
	border: 1px darkgrey solid;
}
/* 图标样式 */
.operator i {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 39px;
	height: 39px;
	line-height: 39px;
	font-size: 24px;
	color: white;
	background-color: deepskyblue;
	margin-left: -44px;
}
i {
	cursor: pointer;
}
/* 表格样式 */
.table {
	width: 100%;
	margin-top: 5px;
	border-collapse: collapse;
}
.table .checkboxTd {
	border: 0px;
	text-align: center;
}
.table td {
	border: 1px darkgrey solid;
	padding: 10px;
}
.table td i {
	margin-right: 10px;
}
.line {
	border: 0px !important;
	padding: 10px 0px !important;
}
/* 导入按钮的样式 */
.importBtn {
	margin: 10px 0px;
	height: 40px;
}
.importBtn i {
	line-height: 40px;
}
.importBtn .btn {
	float: right;
	margin: 0px;
}
/* 导入的表格样式 */
.importTable td {
	padding: 0px 10px;
	height: 30px;
}
.importTable .line {
	border: 0px !important;
	padding: 0px !important;
}
.importTable input {
	width: 100%;
	height: 100%;
	border: 0px;
}
.importTable select {
	width: 100%;
	height: 100%;
	border: 0px;
}
.importTable input[type="radio"] {
	height: 50%;
}
.plus {
	border: 0px !important;
	text-align: center;
}
.tdLeftBorder {
	border-left-color: red !important;
	border-top-color: red !important;
	border-bottom-color: red !important;
}
.tdRightBorder {
	border-right-color: red !important;
	border-top-color: red !important;
	border-bottom-color: red !important;
}
.tdMiddleBorder {
	border-top-color: red !important;
	border-bottom-color: red !important;
}
/* 详情表格样式 */
.detailTable {
	width: 100%;
}
.detailTable td {
	padding: 10px;
	vertical-align: top;
}
.detailTable td h2 {
	padding-bottom: 10px;
}
.detailTable h1 {
	font-size: 32px;
	margin-bottom: 10px;
}
.detailTable .info {
	width: 350px;
}
.detailTable .info h1 {
	display: inline-block;
}
.detailTable .info i {
	font-size: 32px !important;
	margin-left: 10px;
}
.detailTable .info input {
	width: 100px;
	height: 39px;
	margin-right: 4px;
	padding: 0px 10px;
	border: 1px darkgrey solid;
}
/* 分页样式  */
.page {
	text-align: center;
}
.page a {
	text-decoration: none;
}
.page span {
	display: inline-block;
	margin: 5px;
	width: 23px;
	height: 23px;
	text-align: center;
}
.page span:hover {
	border-radius: 50%;
	color: white;
	background-color: dodgerblue;
	cursor: pointer;
}
.pageActive {
	border-radius: 50%;
	color: white;
	background-color: deepskyblue;
}
.pageDefaultStyle {
	color: black;
	cursor: auto;
}
/* visibility */
.visibility i {
	visibility: hidden;
}
.visibility:hover i {
	visibility: visible;
}
/* el-dialog */
.el-dialog__body {
	padding: 10px !important;
}
.el-dialog__body div {
	margin: 5px 0px;
	text-align: center;
}
.el-dialog__body input[type="text"], .el-dialog__body input[type="number"] {
	width: 200px;
	height: 25px;
	padding: 0px 10px;
	border: 1px darkgrey solid;
}
.el-dialog__body select {
	width: 222.5px;
	height: 27px;
	padding: 0px 6px;
	border: 1px darkgrey solid;
}
.dialog-footer input[type="button"] {
	width: 50px;
 			height: 25px;
	color: white;
	background-color: deepskyblue;
	border: 0px;
}
.dialog-footer input[type="button"]:hover {
	background-color: dodgerblue;
	cursor: pointer;
}